.centerText {
        
        text-align:center;  
        margin-top:40px;    
        }
        
        .popupCenter {    
            margin-left: auto;
            margin-right: auto;
        }
        
        .mainHeader{
            
            background: #f70; 
            text-shadow: none;
        
        }
        
        .routes{
            background: #A2C4C9;
        	text-shadow: none;
        }
    	.routes2{
    		
    	}
    	
    	.imgDiv{
    		float:left;	
    	}
    	.lblDiv{
    		float:left;
    		margin-left: 30px;
    	}
    	.lblUserName{
    		display: block;
    		font-size:large;
    		padding-bottom: 20px;
            font-weight:bold;
    	}
    	.lblUserDist{
    		display: block;
    		font-size:medium;
    		padding-bottom: 10px;
    	}
    	.lblUserElev{
    		display: block;
    		font-size:medium;		
    	}
        .btnViewProf{
           /* margin-top:375px;*/
            
        }
        .mapTexts{
            margin-top:375px;
        
        }
        .collapseDiv{
            margin-top:175px;
        }
        
        .inviteClass{
            background: #FFE599;
            text-shadow: none;
        }
         .nextClass{
            background: #B6D7A8;
            text-shadow: none;
        }
         .latestClass{
            background: #A2C4C9;
            text-shadow: none;
        }
        
        .lstImages{
            height:80px;
            width:80px;
        }