.centerText {
     text-align:center;  
     margin-top:40px;    
    }
    
    .popupCenter {    
        margin-left: auto;
        margin-right: auto;
    }
    
    .mainHeader{
        
        background: #f70; 
        text-shadow: none;
    
    }
    
    .routes{
        background: #A2C4C9;
		text-shadow: none;
    }
	.routes2{
		
	}